.contacts-section .contacts-title-block {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 150px 100px;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1px;
}

.contacts-section {
    background-color: #333;
    min-height: 667px;
}

.contacts-section .contacts-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contacts-section .contacts-block ul {
    display: grid;
    row-gap: 20px;
    text-align: center;
}

.contacts-section .contacts-block ul .title {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
}

.contacts-section .contacts-block ul .info {
    font-weight: 500px;
    font-size: 18px;
}